<!DOCTYPE html>
<html lang="fr">
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article Detail</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="img/logo.svg" type="image/svg" />
  </head>
  <body>
    <h1>Détail d'un article</h1>
    <ul>
      <li><%= article.name %></li>
      <li><%= currency(article.price) %> €</li>
      <li><%= article.qty %></li>
    </ul>
    <script src="main.js"></script>
  </body>
</html>
